/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        opacity: 0.0;
    }

    to {
        opacity :1.0;
    }
}

@keyframes blink-critical {
    70% {
      opacity: 0.0;
    }

    to {
        opacity: 1.0; 
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: Terminess Nerd Font, Noto Sans, sans-serif;
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#battery {
    border-bottom-color: #0570b0;
   animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* #battery.warning { */
/*     color: orange; */
/* } */
/**/
/* #battery.critical { */
/*     color: red; */
/* } */

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

/* #cpu.warning { */
/*     color: orange; */
/* } */
/**/
/* #cpu.critical { */
/*     color: red; */
/* } */
#mode {
    background-color: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

/* #network.disconnected { */
/*     color: orange; */
/* } */

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

/* #temperature.critical { */
/*     color: red; */
/* } */

#tray {
    /* No styles */
}

#window {
    font-weight: bold;

    border-bottom-style: none;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    color: #888888;
}

#workspaces label {
      border-bottom-style: none;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power {
    font-size: 18px;
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

/*box {
	margin-left: 50px;
}*/

widget label
{
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding-left: 16px;
  padding-right: 16px;
}

#group-network{
  border-bottom-color: #f1eef6;
}



#cpu{
  border-color: #d0d1e6;
}

#cpu{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning {
    color: #222222;
    background-color: #d0d1e6;
}

#cpu.critical {
    color: #222222;
    background-color: #d0d1e6;
    animation-name: blink-critical;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


#memory{
  border-color: #a6bddb;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #222222;
    background-color: #a6bddb;
}

#memory.critical {
    color: #222222;
    background-color: #a6bddb;
    animation-name: blink-critical;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


#disk {
  border-color: #74a9cf;
}

#pulseaudio {
  border-color: #3690c0; 
}

#temperature{
}


#group-network{
}

.modules-right:nth-child(1){
  border-color: red;
}

#clock{
  border-color:  #034e7b;}

#custom-power{
	color: white;
  background-color: #034e7b;
  border-bottom-style: none;
}

#custom-launcher{
  background-color: #3690c0;
  border-bottom-style: none;
}


.modules-right {
  border-bottom-style: none;
}

/* palette
#f1eef6
#d0d1e6
#a6bddb
#74a9cf
#3690c0
#0570b0
#034e7b
*/
